@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Sriracha&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

body {
  margin: 0;
  height: 3450px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::-webkit-scrollbar {
  display: none;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
