@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Sriracha&display=swap');

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

body {
  margin: 0;
  height: 3450px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-row {
  margin: 25px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 25vh;
  width: 100vw;
  flex: 0 0 100%;
}

.flex-row > * {
  width: 25vw;
}
/* .row:nth-child(odd) {
  background-color: rgb(255,255,255,.25);
} */

/* body::-webkit-scrollbar {
  display: none;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* zebra stripe list */
/* ul {
  list-style-type: none;
}
li:nth-child(odd) {
  background-color: rgb(255,255,255,.25);
} */