.container {
    position: fixed;    
    top: 0;           
    left: 0;                  
    width: 100%;            
    height: 100%;
}


.heading h1 {
    position: absolute;
    font-size: 5vw;
    left: 26vw;
    bottom: 24vw;
}

.firstpage {
    font-family: 'Architects Daughter';
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;            
    bottom: 0;         
    left: 0;     
    right: 0;                
    z-index: 10;
    display: block;
}

.twinkling {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    /* z-index: 2;   */
    height: 100%;
    width: 100%;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}

.level-one,
.level-two,
.level-three{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* perspective: 100px; */
}

.block-one {
    background: url('../public/Grass.jpg') center center;
    /* transform-style: preserve-3d; */
    transform: rotateX(75deg);
    background-size: auto;
    background-repeat: repeat;
    position: absolute;
    bottom: -10vh;
    left: -125vh;
    width: 250%;
    /* height: 40vh; */
    /* transform: skewY(-2deg); */
}

.block-two {
    background: url('../public/Mountain1.jpg') center center;
    background-size: contain;
    position: absolute;
    height: 5em;
    width: 5em;
    top: 33vh;
    left: 25vh;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
    
    border-radius: 100%;
    box-shadow: inset 0 0 10px rgb(0,0,0,.25);
    
    /* bottom: -45vh;
    left: -30vw;
    width: 100%;
    height: 100vh;*/
}
.block-three {
    background: url('../public/Mountain2.jpg') center center;
    background-size: contain;
    position: absolute;
    bottom: -45vh;
    left: 0;
    width: 100%;
    height: 60vh;
    transform: skewY(-20deg);
}

.secondpage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: black;
}

.secondpage .heading {
    margin: 0 auto;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.secondpage h1 {
    color: #fdeabf;
    transform: scale(1.35);
}


.secondpage h1 span {
    font-size: .5em;
    padding-bottom: 50px;
}

.image {
    position: absolute;
    width: auto;
    left: 32vw;
    bottom: 17vw;
    transform: scale(0);
}

.thirdpage {         
    transform: translate3d(0, 300vh, 0);
    background: linear-gradient(rgb(0,0,26,0), rgb(0,0,26,1));
    padding-top: 50px;     
}              
  
.thirdpage .title {       
    display: flex;     
    align-items: center;  
    justify-content: center;
    font-size: 2vw;     
}                    

.thirdpage .imgs {   
    margin: 100px 0;
    position: relative;
    display: flex; 
    flex-direction: row;    
    align-items: center;  
    justify-content: space-between;
}              
                            
.img {     
    position: absolute; 
    display: block;    
    top: 10vw;         
}                
            
.img1 {         
    left: calc(10vw + 350px);
}            

.img2 {           
    left: calc(10vw - 50px);
    top: 40vw;          
}                    
                                    
.thirdpage .title h2 {
    color: #c2c2c2;        
} 

.bottom-sect {
    height: 1000px;
}

.progress-line {
    position: absolute;
    width: 2px;
    background: red;
    height: 100%;
    left: 5vw;
    top: 0;
    transform: translate3d(0, -100%, 0);
    z-index: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
