.toolbar {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100px;
  }
  
  .toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }
  
  .toolbar__logo {
    font-size: 2em;
    margin-left: 1em;
    font-family: "Sriracha";
  }
  
  .toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 2.5em;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: "Comfortaa";
  }
  
  .toolbar__navigation-items li {
    padding: 0 1rem;
  }
  .toolbar__navigation-items li:nth-child(1) {
    border-left: 1px dotted white;
  }
  .toolbar__navigation-items li:nth-child(n + 1) {
    border-right: 1px dotted white;
  }
  
  .toolbar__navigation-items a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .toolbar__navigation-items a:hover,
  .toolbar__navigation-items a:active {
    color: orange;
    text-decoration: underline darkgoldenrod;
  }
  
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: white;
  }
  
  .side-panel {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
  }
  
  .side-panel.open {
    transform: translateX(0);
    
  }
  
  .side-panel ul {
    height: 100%;
    padding-top: 50px;
    list-style: none;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: right;
    overflow: hidden;
  }
  
  .side-panel li {
    width: 100%;
    padding-right: 3rem;
    padding-top: 1em;
    height: 3em;
    border-bottom: 1px solid darkslategray;
  }
  .side-panel li:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
  }

  
  .side-panel li a {    
    color: #00001a;
    text-decoration: rgba(0,0,0,.3);
    font-size: 1.2rem;
    padding-right: 3em;
    transition: font-size .1s, letter-spacing .1s;
    font-family: "Sriracha";
  }
  .side-panel li:hover a {
    padding-right: 1em;
    color: black;
    letter-spacing: .5em;
    font-size: 2em;
    font-variant: small-caps;
    animation: wiggle .5s infinite;
  }
  
  
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    z-index: 100;
  }
  
  .side-panel a:hover,
  .side-panel a:active {
    color: #fa923f;
  }
  
  @media (max-width: 768px) {
    .toolbar__navigation-items {
      display: none;
    }
  }

@keyframes wiggle {
  0% {
    transform: skewX(0);
  }
  70% {
    transform: skewX(-10deg);
  }
  95% {
    transform: skewX(-5deg);
  }
  100% {
    transform: skewX(0);
  }
}